<a href="https://colab.research.google.com/github/snehaadepu2006/AI-Assistant-lab-1.2/blob/main/ailab7_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK1:SYNTAX ERROR IN CONDITIONALS

In [ ]:
a=10
if a =10:
  print("equal")

ERROR:The error in the selected cell AfXlYkSW563L is a SyntaxError. In Python, a single equals sign (=) is used for assignment, while a double equals sign (==) is used for comparison in conditional statements. The line if a = 10: should be if a == 10: to correctly check if the value of a is equal to 10.

debugged code:

In [ ]:
a=10
if a==10:
    print("equal")

equal

TASK2:Loop off-By-One Error

In [ ]:
def sum_upto_n(n):
  total=0
  for i in range(1,n):
    total+=i
  return total

ERROR:The error in the code in cell VDYmJqBl8XSg is an off-by-one error in the for loop. The range(1, n) function generates numbers from 1 up to (but not including) n. To include n in the sum, the range should be range(1, n + 1).

In [ ]:
def sum_upto_n(n):
  total=0
  for i in range(1, n + 1):
    total += i
  return total

print(sum_upto_n(5))

15

TASK3:ERROR:ATTRIBUTE ERROR

In [ ]:
class User:
  def __init__(self,name):
    self.name=name

user1=User("Alice")
print(u.getName())

NameError: name 'u' is not defined

ERROR:The error in the code in cell nYUHUizn9R4R is a NameError because the variable u is not defined. You created an instance of the User class and assigned it to the variable user1, but you are trying to access a method on a variable named u. Also, the User class does not have a method called getName(); you can access the name attribute directly using user1.name.

In [ ]:
class User:
  def __init__(self,name):
    self.name=name

user1=User("Alice")
print(user1.name)

Alice

TASK4:Incorrect class attribute inistialization

In [ ]:
class car:
  def start():
    print("car started")
mycar=car()
mycar.start()

TypeError: car.start() takes 0 positional arguments but 1 was given

ERROR:self is a convention in Python and refers to the instance of the class itself.

In [ ]:
class car:
  def start(self):
    print("car started")

mycar = car()
mycar.start()

car started

TASK5:Conditional logic error in grading system

In [ ]:
def grade_student(score):
  if score<40:
    return "A"
  elif score<70:
    return "B"
  else:
    return "C"

ERROR:There is a logical error in the conditional statements which will result in an incorrect grading system.

In [ ]:
def grade_student(score):
  if score >= 70:
    return "A"
  elif score >= 40:
    return "B"
  else:
    return "C"

print(grade_student(85)) # Example usage
print(grade_student(55))
print(grade_student(30))

A
B
C